<footer class="footer">
    <div class="footer-mid-wrapper">
        <ul class="social">
            <li class="social__item"><a href="">Facebook</a></li>
            <li class="social__item"><a href="">GitHub</a></li>
            <li class="social__item"><a href="">Twitter</a></li>
        </ul>
        <div class="contacts">
            <a href="tel:+74993501264">+7 499 350-12-64</a>
            <a href="tel:+74993501264">+49 30 000-00-00</a>
            <a href="mailto:inbox@webstrom.net">inbox@webstrom.net</a>
        </div>
    </div>
    <div class="copyright">&copy; webStrom, 2017</div>
</footer>