<header class="header header--opened">
  <div class="header-wrapper">

    //= ./toggle-btn.html
    
    <div class="header-logo">
      <svg height="250" width="330">
        <rect class="case" width="300" height="200" x="10" y="10" rx="50" fill="dimgray"/>
        <rect class="screen" width="200" height="160" x="30" y="30" rx="30" fill="deepskyblue"/>
        <line x1="220" y1="100" x2="420" y2="100"/>
        <ellipse rx="30" ry="40%" cx="50%" cy="50%"/>
        <polygon points="10,135 100,10 55,135 10,10 105,135"/>
      </svg>
      <div class="header-name">webStrom — радости XXI века</div>
    </div>
    
    //= ./header-nav.html
    
  </div>
</header>