<section class="main-content">
  <h1 class="content-header">WebStrom</h1>
  <div class="content-text__de">
      <p>Euer Traum<br>
      im Hirn ist verweichlicht bereits,<br>
      wie ein fetter Lakai auf dem speckigen Sofa, bis ich<br>
      ihn erst einmal mit dem blutigen Fetzen des Herzens gereizt<br>
      und mich sattgelacht, arrogant und bissig.<br><br>
      In meiner Seele fand sich von grauen Haaren kein Schimmer,<br>
      keine Greisenzärtlichkeit fand sich!<br>
      Da schreit’ ich: Es donnert die kraftvolle Stimme.<br>
      Und ich bin schön<br>
      und bin zweiundzwanzig.</p>
  </div> 
  <div  class="content-text__ru">
      <p><br>Вашу мысль<br>
      мечтающую на размягченном мозгу,<br>
      как выжиревший лакей на засаленной кушетке,<br>
      буду дразнить об окровавленный сердца лоскут:<br>
      досыта изъиздеваюсь, нахальный и едкий.<br><br>
      У меня в душе ни одного седого волоса,<br>
      и старческой нежности нет в ней!<br>
      Мир огромив мощью голоса,<br>
      иду – красивый,<br>
      двадцатидвухлетний.</p>
  </div>
  <p class="text">Всем привет! Zzz...</p>
  </section>