.footer {
  flex: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: var(--cfont);
}

.footer-mid-wrapper {
  font-size: 20px;
  align-self: center;
}

.social {
  display: block;
  padding: 0;
  margin: 10px;
  list-style: none;
}

.social__item  a {
  text-decoration: none;
  color: inherit;
  &::before {
    content: "\2192\00a0";
  }
  &:--fover {
    color: var(--mywhite);
  }
}

.contacts {
  margin: 10px;
}

.contacts a {
  display: block;
  text-decoration: none;
  color: inherit;
  &:--fover {
    color: var(--mywhite);
  }

}
.copyright {
  margin: 10px;
}

@media (min-width: 480px) {
  .footer-mid-wrapper {
    display: flex;
    flex-direction: row;
    align-self: inherit;
  }

  .contacts {
    margin-left: 80px;
  }
}