.header {
    flex: none;
    background-color: var(--myblue);
    background-image: linear-gradient(210deg, var(--myblue), color(var(--myblue) lightness(-40%)));
    margin-bottom: 10px;
}

.header-wrapper {
    box-shadow: inset 2px 0 4px 0px color(var(--myblue) l(-45%));
}
.header-logo svg {
    margin-left: 60px;
}
.header-name {
    margin: 0 auto;
    padding: 10px;
    font-family: var(--hfont);
    font-size: 28px;
    color: var(--mywithe);
}