
.header-nav {
  position: relative;
}

.header-nav-main {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  /*width: calc(100% - 10px);*/
  justify-content: space-between;
}
  
.header--closed .header-nav-main__item {
  display: none;
}

.header--closed .header-nav-main__item--active {
  display: block;
}

.header--closed .header-nav-main__item--active a {
  border-bottom: 0;
}

.header-nav-main__item a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--mybrown);
  border-bottom: 1px solid color(var(--mybrown) l(-10%));
  background-color: var(--mybrown);
  border-bottom: 1px solid color(var(--mybrown) l(-10%));
  font-family: var(--hfont);
  text-decoration: none;
  padding: 20px 35px;
  color: var(--mywhite);
  font-size: 20px;
  letter-spacing: 1px;
}

.header-nav-main__item a[href] {
  &:--fover {
    background-color: color(var(--mybrown) l(-10%));
    border-bottom: 1px solid color(var(--mybrown) l(-20%));
    background-color: color(var(--mybrown) l(-10%));
    border-bottom: 1px solid color(var(--mybrown) l(-20%));
  }
}