.header {
    flex: none;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.header-wrapper {
    /* box-shadow: inset 2px 0 4px 0px color(var(--myblue) l(-45%)); */
}
.header-logo svg {
    margin-left: 60px;
}
.header-name {
    margin: 0 auto;
    padding: 10px;
    font-family: var(--hfont);
    color: var(--mywhite);
}

.header-name h1 {
    font-size: 32px;
    margin: 0;
}

.header-name h1 span {
    font-size: 0.9em;
}